<style>
section {
  padding: 0.4rem;
  margin: 1rem 0;
  max-width: 580px;
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
    margin: 0 0 0 0rem !important;
    font-size: 24px !important;
    padding: 0.3rem;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

details summary:before {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 1rem;
    right: 12px;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.post-wrapper {
  padding : 0.4rem;
  margin : 0 0 1rem 0;
}
</style>
<style>
/*
        .accdn section:nth-child(7n-6) {
            background: #81a1ff url(http://www.graphicartsunit.com/images/noise.png);
        }*/

        .accdn section:nth-child(6n-5) {
            background: #ecec84 url(http://www.graphicartsunit.com/images/noise.png);
        }

        .accdn section:nth-child(6n-4) {
            background: #ffb69b url(http://www.graphicartsunit.com/images/noise.png);
        }

        .accdn section:nth-child(6n-3) {
            background: #ffacbb url(http://www.graphicartsunit.com/images/noise.png);
        }

        .accdn section:nth-child(6n-2) {
            background: #8bc3e5 url(http://www.graphicartsunit.com/images/noise.png);
        }

        .accdn section:nth-child(6n-1) {
            background: #c8bcff url(http://www.graphicartsunit.com/images/noise.png);
        }

        .accdn section:nth-child(4n) {
            background: #7ccaae url(http://www.graphicartsunit.com/images/noise.png);
        }
</style>